
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, #232526,#414345);
    width: 100%;
    height: 100svh;
    font-family: sans-serif;
}

/* WRAPPER */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 50px 0px;
}

/* TITULO */
h1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    color: white;
    text-align: center;
    flex: 1;

}

/* PUNTUACION */

.puntuacion__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 3;
}

.puntuacion__container h2{
    color: white;
    font-size: 40px;
}

.puntuacion__container img{
    max-width: 100px;
}

.puntuacion__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BATTLE */
.battle{
    background-color: rgba(255, 255, 255, 0.03);
    width: 55%;
    height:40%;
    max-height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    flex: 10;

    
}

.battle__container{
    background-color: rgba(255, 255, 255, 0.251);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 25%;
    flex: 5;
}

.vs{
    max-width: 25%;
}

.battle__container--win{
    background-color: rgba(17, 255, 0, 0.251);
}

.battle__container--loss{
    background-color: rgba(255, 0, 0, 0.251);
}

.battle__container--draw{
    background-color: rgba(0, 64, 255, 0.251);
}

.battle__container img{
    max-width: 100%;
}

/* OPTIONS */

.options{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.047);
    border-radius: 20px;
    margin-bottom: 20px;
    width: 40%;
    flex: 3;
}

.options__list{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.options__item{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.248);
    border-radius: 20px;
    position: relative;
    transition: all, 0.3s;
}

.options__item:hover{
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.712);
    box-shadow: 0 0 20px 2px white;
}

.options__item:active{
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.248);
}

.options__item img{
    max-width: 100%;
}

/* END GAME */

.windowEndGame{
    background-color: rgba(128, 128, 128, 0.832);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
}

.windowEndGame_Container{
    background-color: gray;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    width: 50%;
    height: 30%;
    color: azure;
    align-content: center;
}

.windowEndGame_Container h2{
    color: black;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 0;
}

.windowEndGame_Container span
{
    font-size: 25px;
}

.windowEndGame_Container a{
    text-align: center;
    background-color: rgb(161, 161, 161);
    padding: 20px;
    border: 1px solid black;
    display: block;
    border-radius: 5px;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.windowEndGame_Container a:hover{
    background-color: rgba(161, 161, 161, 0.444);
}


@media (max-width: 767px){
    .battle{
        width: 90%;
    }

    .vs
    {
        max-width: 25%;
    }

    .options{
        width: 80%;
    }

    .battle__container{
        max-width: 50%;
    }

    .options__item:hover{
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.248);
        box-shadow:none;
    }
    
    .options__item:active{
        bottom: 20px;
        background-color: rgba(255, 255, 255, 0.712);
        box-shadow: 0 0 20px 2px white;
    }

    .windowEndGame_Container{
        width: 80%;
    }

    .windowEndGame_Container a{
        width: 80%;
    }

}